aenum==3.1.12
black==23.7.0
cfgv==3.4.0
click==8.1.7
contourpy==1.1.0
cycler==0.11.0
distlib==0.3.7
dnspython==2.3.0
envparse==0.2.0
filelock==3.12.2
fonttools==4.40.0
identify==2.5.26
kiwisolver==1.4.4
lark==1.1.5
matplotlib==3.6.3
motor==3.1.1
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.23.5
packaging==23.1
pandas==1.5.3
pathspec==0.11.2
Pillow==9.5.0
platformdirs==3.10.0
pre-commit==3.3.3
pycodestyle==2.11.0
pycryptodomex==3.18.0
pygtrie==2.5.0
pymongo==4.3.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-ndn==0.3.post2
pytz==2023.3
PyYAML==6.0.1
ruff==0.0.285
seaborn==0.12.2
six==1.16.0
tomli==2.0.1
tqdm==4.64.0
virtualenv==20.24.3
